<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<!-- Id: com.sap.ldi:nexus-settings:1.17.0:LeanDI -->

	<mirrors>
		<mirror>
			<id>mirror1</id>
			<url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones/</url>
			<mirrorOf>*,!central</mirrorOf>
		</mirror>
	</mirrors>
	<profiles>
		<profile>
			<id>release.build</id>
			<pluginRepositories>
				<pluginRepository>
					<id>releases</id>
					<url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.releases/</url>
				</pluginRepository>
				<pluginRepository>
					<id>releases-xmake</id>
					<url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.releases.xmake/</url>
				</pluginRepository>
				
			</pluginRepositories>
			<repositories>
				<repository>
					<id>releases</id>
					<url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.releases/</url>
				</repository>
				<repository>
					<id>releases-xmake</id>
					<url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.releases.xmake/</url>
				</repository>
			</repositories>
			<properties>
				<tycho.disableP2Mirrors>true</tycho.disableP2Mirrors>
				<tycho.localArtifacts>ignore</tycho.localArtifacts>
			</properties>
		</profile>
		<profile>
			<id>milestone.build</id>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones/</url>
				</pluginRepository>
			</pluginRepositories>
			<repositories>
				<repository>
					<id>central</id>
					<url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones/</url>
				</repository>
			</repositories>
			<properties>
				<tycho.disableP2Mirrors>true</tycho.disableP2Mirrors>
				<tycho.localArtifacts>ignore</tycho.localArtifacts>
			</properties>
		</profile>
		<profile>
			<id>snapshot.build</id>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.snapshots/</url>
				</pluginRepository>
			</pluginRepositories>
			<repositories>
				<repository>
					<id>central</id>
					<url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.snapshots/</url>
				</repository>
			</repositories>
			<properties>
				<tycho.disableP2Mirrors>true</tycho.disableP2Mirrors>
				<tycho.localArtifacts>ignore</tycho.localArtifacts>
			</properties>
		</profile>
		<profile>
			<id>sonar</id>
				<activation>
					<activeByDefault>true</activeByDefault>
				</activation>
				<properties>
					<sonar.jdbc.url>jdbc:mysql://ldisonarci.wdf.sap.corp:3306/sonar?useUnicode=true&amp;characterEncoding=utf8</sonar.jdbc.url>
					<sonar.jdbc.driver>com.mysql.jdbc.Driver</sonar.jdbc.driver>
					<sonar.jdbc.username>sonar</sonar.jdbc.username>
					<sonar.jdbc.password>sonar</sonar.jdbc.password>
					<sonar.host.url>http://ldisonarci.wdf.sap.corp:8080/sonar</sonar.host.url>
					<tycho.disableP2Mirrors>true</tycho.disableP2Mirrors>
					<tycho.localArtifacts>ignore</tycho.localArtifacts>
				</properties>
		</profile>
		<profile>
			<id>development</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<!-- Properties that hold host and port of proxy if you have one. Otherwise set local.server.proxy.settings and browser.proxy.settings values empty -->
				<local.server.proxy.settings>--httpProxyHost proxy --httpProxyPort 8080 --httpsProxyHost proxy --httpsProxyPort 8080</local.server.proxy.settings>
				<browser.proxy.settings>-Dhttp.proxyHost=proxy -Dhttp.proxyPort=8080 -Dhttps.proxyHost=proxy -Dhttps.proxyPort=8080</browser.proxy.settings>
			</properties>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>snapshot.build</activeProfile>
	</activeProfiles>
	<pluginGroups>
		<pluginGroup>com.sap.ldi</pluginGroup>
	</pluginGroups>
</settings>
