.sapMStdTileInfo{
	color: #007cc0;
}
.sapUiUfdShellSearch{
	max-width: 650px !important;	
}
#__view0 {
    width: 87%; 
}
#__tile11-info{
	white-space: normal !important;
	margin-top: 1rem !important;
}
#__tile12-info{
	white-space: normal !important;
	margin-top: 1rem !important;
}
#__tile13-info{
	white-space: normal !important;
	margin-top: 1rem !important;
}
#__tile9-info{
	white-space: normal !important;
	margin-top: 1rem !important;
}
#__tile10-info{
	white-space: normal !important;
	margin-top: 1rem !important;
}
/* Enter your custom styles here */
.logo{
	float:left;
}
#__xmlview0--sTitle{
	font-weight: bolder;
}

.fulltextsearchClass{
	background-image: url('thumbnails/ui5search.JPG');
        background-size: 192px;
	background-repeat: no-repeat;
	background-position: center;	
}
.spatialClass{
	background-image: url('thumbnails/spatial.jpg');
	background-size: 192px;
	background-repeat: no-repeat;
	background-position: center;
}
.ucClass{
	background-size: 192px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('thumbnails/userCRUD.png');
}
.dgClass{
	background-image: url('thumbnails/dg.png');
	background-size: 192px;
	background-repeat: no-repeat;
	background-position: center;
	
	
}
.soClass{
	background-image: url('thumbnails/sales.png');
	background-size: 192px;
	background-repeat: no-repeat;
	background-position: center;
}
.jobschedulingClass{
	background-image: url('thumbnails/JobScheduler.PNG');
	background-size: 192px;
	background-repeat: no-repeat;
	background-position: center;
}

.poClass{
	background-image: url('thumbnails/poworklist.png');
	background-size: 192px;
	background-repeat: no-repeat;
	background-position: center;
}
.sapMStdTileBottomRow{
	height: 1rem !important;
	margin-top: 6rem !important;
}
.sapMStdTileTitle{
	color: #007CC0 !important;
}
.fulltextschedulingClass{
 	background-image: url('thumbnails/FullText.JPG');
	background-size: 192px;
	background-repeat: no-repeat;
	background-position: center;
 }
/* CSS for moving the top row appear in bottom 
.relocateItems > .sapMTileContent > .sapMStdTileTopRow {
	position: absolute !important;
	width: 10rem !important;
	height: 12rem !important;
}

/* CSS for moving the icon float to left 
.relocateItems > .sapMTileContent > .sapMStdTileTopRow > .sapMStdTileIconDiv {
	float: right !important;
}*/

/* CSS for moving the number to left adjusting the width 
.relocateItems > .sapMTileContent > .sapMStdTileTopRow > .sapMStdTileNumDiv {
	float: left !important;
	width: auto !important;
	margin-top: 5rem !important;
}*/

/* CSS for moving the number unit to left 
.relocateItems > .sapMTileContent > .sapMStdTileTopRow > .sapMStdTileNumDiv > .sapMStdTileNumUnit {
	float: left !important;
}*/

/* CSS for adjusting the padding for bottom row (now top row)
.relocateItems > .sapMTileContent > .sapMStdTileBottomRow {
	padding: 1rem !important;
	height: 12rem !important;
}*/

/* CSS for adjusting the info 
.relocateItems > .sapMTileContent > .sapMStdTileBottomRow > .sapMStdTileInfo {
	float: left !important;
	margin-top: 6rem !important;
}*/

/* CSS for adjusting the title */
.relocateItems > .sapMTileContent > .sapMStdTileBottomRow > .sapMStdTileTitle {
	height: 1rem !important;
	margin-top: 10rem !important;
	color: #007CC0 !important;
}}
.etagsXSODataTileClass{
	background-image: url('thumbnails/etagsdemo.JPG');
}

.jobschedulingClass{
	background-image: url('thumbnails/JobScheduler.PNG');
}

.xsuntClass{
	background-image: url('thumbnails/xsunit.JPG');
}
/* welcome dialog */
.welcomeDlg {
	background-color: #FFFFFF !important;
}
.welcomeDlg .sapUiDlgHdr {
	border-bottom: 0px solid #FFFFFF !important;
}
.welcomeDlg .sapUiDlgCont {
	background-color: #FFFFFF !important;
	padding: 10px 25px 12px;
	overflow-x: hidden;
	max-height: 500px; 
}
.welcomeHeaderTextAlign {
	font-size: 22px !important;
	padding-left: 5px;
}		
.dialogTextColor{
	color: #007CC0 !important;
}
#__view4{
	font-weight: bold;
    color: red;
}
