.settings
.project
.DS_Store
/mta_archives/
fioriHtmlRunner.html
.*/fioriHtmlRunner.html
mock_preview_sapui5.html
.*/mock_preview_sapui5.html
extended_runnable_file.html
.*/extended_runnable_file.html
sap-ui-cachebuster-info.json