#bpDetails{
	height: 100%;
}
#sales-analysis{
	height: 100%;
}
#productsHeatMap{
	height: 100%;
}
.sapUiUx3ShellContent{
	height: 100%;
}
.bpNameLabel{
	color: #1080DD !important;
}
.bpDetailsHeader{
	color: #1080DD !important;
	font-weight: bold;
	text-transform: uppercase;
}
.backgroundWhite{
	background-color:#C7DDE8;
}
/* BP details list item */
.sapMDLIValue {
    font-size: 1.175em !important;
}