{
    "extends": "eslint:recommended",
    "rules": {
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "eqeqeq": ["error", "always"],
        "comma-dangle": ["error", "always"],
        "no-trailing-spaces": ["error"],
        "camelcase": ["error", { "properties": "never" }],
	"comma-dangle": ["error", "never"]
   }
}
